<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Playing...</title>
    <style>
        body {
            display: flex;
            margin: 0;
        }
        #score {
            width: 300px;
            border: 2px solid black;
        }
        #score div {
            display: flex;
        }
        #score div div {
            display: inline-block;
            width: 100px;
            border: 1px solid black;
            flex: 1;
            text-align: center;
        }
        #dice {
            flex: 1;

            display: flex;
            flex-direction: column;
            padding-top: 50px;
            background-color: blue;
        }
        #dice div {
            display: flex;
            flex: 1;
            justify-content: space-around;
        }
        #dice div div {
            max-width: 100px;
            height: 100px;
            background-color: white;    
        }
        #roll {
            margin: 0 auto;
        }
        #roll button {
            width: 120px;
            max-height: 40px;
        }
        #chance {
            position: fixed;
            width: 100px;
            height: 50px;
            bottom: 20px;
            right: 30px;
            background-color: purple;
        }
    </style> 
</head>
<body>
    <div id="score">
        <div>
            <div>구분</div>
            <div>1p : <%= p1 %> </div>
            <div>2p : <%= p2 %> </div>
        </div>
        <div>
            <div>1</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>2</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>3</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>4</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>5</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>6</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>bonus</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>subtotal</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>choice</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>4kind</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>full</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>ss</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>Ls</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>Ya</div>
            <div>0</div>
            <div>0</div>
        </div>
        <div>
            <div>Total</div>
            <div>0</div>
            <div>0</div>
        </div>
    </div>
    <div id="dice">
        <div>
            <div>dice1<br><%= dice[0] %></div>
            <div>dice2<br><%= dice[1] %></div>
            <div>dice3<br><%= dice[2] %></div>
            <div>dice4<br><%= dice[3] %></div>
            <div>dice5<br><%= dice[4] %></div>
        </div>
        <div id="roll">
            <form action="/roll" method="POST">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <button>roll</button>
            </form>
        </div>
    </div>
    <div id="chance">
        <p>Chance left : <!--남은 횟수--></p>
    </div>
</body>
</html>