<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Playing...</title>
    <style>
        body {
            display: flex;
            margin: 0;
        }
        #score {
            width: 300px;
            border: 3px solid black;
            border-radius: 4px;
            margin: 10px;
            padding: 0;
        }
        #score div {
            display: flex;
        }
        #score div div {
            display: inline-block;
            width: 100px;
            height: 25px;
            border: 1px solid black;
            flex: 1;
            text-align: center;
        }
        #dice {
            flex: 1;
            margin: 10px;
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            border-radius: 4px;
            background-color: green;
        }
        #dice div {
            display: flex;
            flex: 1;
            justify-content: space-around;
        }
        #dice div div {
            max-width: 100px;
            height: 100px;
            font-size: 44px;
            line-height: 95px;
            font-weight: 900;
            background-color: white;    
        }
        #turn {
            background-color: rgb(255,140,60) !important;
            line-height: 49px;
        }
        #roll {
            margin: 0 auto;
        }
        #roll input {
            width: 30px;
        }
        #roll button {
            width: 60px;
            height: 40px;
            border-radius: 15px;
            border: 1px solid black;
        }
        #chance {
            position: fixed;
            width: 150px;
            height: 50px;
            bottom: 30px;
            right: 50%;
            transform: translateX(50%);
            border: 3px solid black;
            border-radius: 5px;
            background-color: pink;
            text-align: center;
            font-weight: bolder;
        }
        .score-backcolor {
            background-color: bisque;
            font-weight: bold;
        }
        #player-name {
            background-color: burlywood;
            height: 52px;
            vertical-align: top;
        }
        #player-name div {
            height: 50px !important;
        }
        .score {
            color: gray;
            text-decoration: none;
        }
    </style> 
</head>
<body>
    <div id="score">
        <div id="player-name">
            <div id="turn"><strong>Turn : </strong><%= turn %></div>
            <div><Strong>1p</Strong><br><%= p1 %></div>
            <div><strong>2p</strong><br><%= p2 %></div>
        </div>
        <div>
            <div>1</div>
            <div>
                <% if (score[0][0] == -1) { %>
                    <a class="score" href="/setScore/0"><span><%= calcScoreDummy[0][0] %></span></a>
                <% } else { %>
                    <span><%= score[0][0] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][0] == -1) { %>
                    <a class="score" href="/setScore/0"><span><%= calcScoreDummy[1][0] %></span></a>
                <% } else { %>
                    <span><%= score[1][0] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>2</div>
            <div>
                <% if (score[0][1] == -1) { %>
                    <a class="score" href="/setScore/1"><span><%= calcScoreDummy[0][1] %></span></a>
                <% } else { %>
                    <span><%= score[0][1] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][1] == -1) { %>
                    <a class="score" href="/setScore/1"><span><%= calcScoreDummy[1][1] %></span></a>
                <% } else { %>
                    <span><%= score[1][1] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>3</div>
            <div>
                <% if (score[0][2] == -1) { %>
                    <a class="score" href="/setScore/2"><span><%= calcScoreDummy[0][2] %></span></a>
                <% } else { %>
                    <span><%= score[0][2] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][2] == -1) { %>
                    <a class="score" href="/setScore/2"><span><%= calcScoreDummy[1][2] %></span></a>
                <% } else { %>
                    <span><%= score[1][2] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>4</div>
            <div>
                <% if (score[0][3] == -1) { %>
                    <a class="score" href="/setScore/3"><span><%= calcScoreDummy[0][3] %></span></a>
                <% } else { %>
                    <span><%= score[0][3] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][3] == -1) { %>
                    <a class="score" href="/setScore/3"><span><%= calcScoreDummy[1][3] %></span></a>
                <% } else { %>
                    <span><%= score[1][3] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>5</div>
            <div>
                <% if (score[0][4] == -1) { %>
                    <a class="score" href="/setScore/4"><span><%= calcScoreDummy[0][4] %></span></a>
                <% } else { %>
                    <span><%= score[0][4] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][4] == -1) { %>
                    <a class="score" href="/setScore/4"><span><%= calcScoreDummy[1][4] %></span></a>
                <% } else { %>
                    <span><%= score[1][4] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>6</div>
            <div>
                <% if (score[0][5] == -1) { %>
                    <a class="score" href="/setScore/5"><span><%= calcScoreDummy[0][5] %></span></a>
                <% } else { %>
                    <span><%= score[0][5] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][5] == -1) { %>
                    <a class="score" href="/setScore/5"><span><%= calcScoreDummy[1][5] %></span></a>
                <% } else { %>
                    <span><%= score[1][5] %></span>
                <% } %>
            </div>
        </div>
        <div class="score-backcolor">
            <div>Bonus</div>
            <div><%= bonus[0] %></div>
            <div><%= bonus[1] %></div>
        </div>
        <div class="score-backcolor">
            <div>Subtotal</div>
            <div><%= subTotal[0] %></div>
            <div><%= subTotal[1] %></div>
        </div>
        <div>
            <div>Choice</div>
            <div>
                <% if (score[0][6] == -1) { %>
                    <a class="score" href="/setScore/6"><span><%= calcScoreDummy[0][6] %></span></a>
                <% } else { %>
                    <span><%= score[0][6] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][6] == -1) { %>
                    <a class="score" href="/setScore/6"><span><%= calcScoreDummy[1][6] %></span></a>
                <% } else { %>
                    <span><%= score[1][6] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>4 of kind</div>
            <div>
                <% if (score[0][7] == -1) { %>
                    <a class="score" href="/setScore/7"><span><%= calcScoreDummy[0][7] %></span></a>
                <% } else { %>
                    <span><%= score[0][7] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][7] == -1) { %>
                    <a class="score" href="/setScore/7"><span><%= calcScoreDummy[1][7] %></span></a>
                <% } else { %>
                    <span><%= score[1][7] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>Full house</div>
            <div>
                <% if (score[0][8] == -1) { %>
                    <a class="score" href="/setScore/8"><span><%= calcScoreDummy[0][8] %></span></a>
                <% } else { %>
                    <span><%= score[0][8] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][8] == -1) { %>
                    <a class="score" href="/setScore/8"><span><%= calcScoreDummy[1][8] %></span></a>
                <% } else { %>
                    <span><%= score[1][8] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>s-Straight</div>
            <div>
                <% if (score[0][9] == -1) { %>
                    <a class="score" href="/setScore/9"><span><%= calcScoreDummy[0][9] %></span></a>
                <% } else { %>
                    <span><%= score[0][9] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][9] == -1) { %>
                    <a class="score" href="/setScore/9"><span><%= calcScoreDummy[1][9] %></span></a>
                <% } else { %>
                    <span><%= score[1][9] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>L-Straight</div>
            <div>
                <% if (score[0][10] == -1) { %>
                    <a class="score" href="/setScore/10"><span><%= calcScoreDummy[0][10] %></span></a>
                <% } else { %>
                    <span><%= score[0][10] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][10] == -1) { %>
                    <a class="score" href="/setScore/10"><span><%= calcScoreDummy[1][10] %></span></a>
                <% } else { %>
                    <span><%= score[1][10] %></span>
                <% } %>
            </div>
        </div>
        <div>
            <div>YACHT</div>
            <div>
                <% if (score[0][11] == -1) { %>
                    <a class="score" href="/setScore/11"><span><%= calcScoreDummy[0][11] %></span></a>
                <% } else { %>
                    <span><%= score[0][11] %></span>
                <% } %>
            </div>
            <div>
                <% if (score[1][11] == -1) { %>
                    <a class="score" href="/setScore/11"><span><%= calcScoreDummy[1][11] %></span></a>
                <% } else { %>
                    <span><%= score[1][11] %></span>
                <% } %>
            </div>
        </div>
        <div class="score-backcolor">
            <div>Total</div>
            <div><%= total[0] %></div>
            <div><%= total[1] %></div>
        </div>
    </div>
    <div id="dice">
        <div>
            <div><%= dice[0] %></div>
            <div><%= dice[1] %></div>
            <div><%= dice[2] %></div>
            <div><%= dice[3] %></div>
            <div><%= dice[4] %></div>
        </div>
        <div id="roll">
            <form action="/roll" method="POST">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <input type="text" name="keepArray" value="0">
                <button>Roll</button>
            </form>
        </div>
    </div>
    <div id="chance">
        <p>Chance left : <%= chance %></p>
    </div>
</body>
</html>